/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar h1 {
    font-size: 24px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffc107; /* Change to your desired hover color */
}

/* Main navigation styles */
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
}
#logo a{
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for smooth color change */
    margin-left: 15px;
}

#logo a:hover {
    color: #ffc107; /* Change text color to yellow on hover */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 40px 0;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Section Styles */
.intro, .story, .values, .team {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    nav {
        padding: 10px;
    }
}
