* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: #b3aaaa;
    flex-direction: column; /* Change the flex direction to column */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.navbar h1 {
    font-size: 24px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffc107; /* Change to your desired hover color */
}

/* Main navigation styles */
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
}
#logo a{
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for smooth color change */
    margin-left: 10px;
}

#logo a:hover {
    color: #ffc107; /* Change text color to yellow on hover */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem; /* Default font size */

    /* Responsive font size adjustments */
    @media (min-width: 768px) {
        font-size: 1rem; /* Adjust font size for tablets and larger screens */
    }

    @media (min-width: 1024px) {
        font-size: 1.2rem; /* Adjust font size for desktop screens */
    }
}

.contact-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.contact-card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.contact-card address p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

.contact-card a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-card a:hover {
    color: #0056b3; /* Change to your desired hover color */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    position: fixed; /* Fix the footer to the bottom of the viewport */
}

/* Add responsive adjustments */
@media (max-width: 468px) {

    footer {
        font-size: 14px; /* Decrease font size for smaller screens */
    }
}

