* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: #b3aaaa;
    flex-direction: column; /* Change the flex direction to column */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.navbar h1 {
    font-size: 24px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffc107; /* Change to your desired hover color */
}

/* Main navigation styles */
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
}
#logo a{
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for smooth color change */
    margin-left: 10px;
}

#logo a:hover {
    color: #ffc107; /* Change text color to yellow on hover */
}



main {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-category {
    width: 100%;
    margin-bottom: 30px;
}

.menu-category h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-item h3 {
    font-size: 18px;
    padding: 10px;
}

.menu-item p.price {
    font-size: 16px;
    padding: 10px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .menu-item {
        width: calc(100% - 20px);
    }
}
